<app-nav></app-nav>
<div class="noseci">

    <div class="container">
        <img [src]="'../../assets/' + item?.image" style="width: 40%;">
        <div class="desni">
            <h3>{{item?.brand | uppercase}} {{item?.name}}</h3>
            <h3 class="no-margin right" style="font-size: 20px;">Price: {{item?.price | number: '1.2'}} €</h3>
            <div class="opis">
                <p class="no-margin">Description: </p>
                <p class="no-margin">{{item?.description}}</p>
            </div>
            <div class="opis">
                <p class="no-margin">Car: </p>
                <p class="no-margin">{{item?.carMake}} {{item?.carModel}}</p>
            </div>
            <div class="opis">
                <p class="no-margin">Part brand: </p>
                <p class="no-margin">{{item?.brand}}</p>
            </div>
            <div class="opis">
                <p class="no-margin">OE part number: </p>
                <p class="no-margin">{{item?.oe_number}}</p>
            </div>
            <div class="opis">
                <p class="no-margin">In stock: </p>
                <p class="no-margin">{{item?.stock}}</p>
            </div><br>
            <div class="dodavanje">
                <button class="dodaj" (click)="addToCart(item!)">Add to cart</button>
                <div class="input-group">
                    <input [disabled]="kolicina===1" type="button" value="-" class="button-minus"
                        (click)="this.kolicina = this.kolicina - 1;">
                    <input type="number" step="1" max="10" value="1" class="quantity-field" [(ngModel)]="kolicina">
                    <input [disabled]="kolicina===10" type="button" value="+" class="button-plus"
                        (click)="this.kolicina = this.kolicina + 1;">
                </div>
            </div>
        </div>
    </div>
</div>