<app-nav></app-nav>
<div class="container px-3 my-5 clearfix">
    <div class="card">
        <div class="card-header">
            <h2>Order details</h2>
        </div>
        <div class="card-body">
            <div id="contentToConvert">
                <div class="table-responsive">
                    <p>User: {{curUser?.name}}</p>
                    <p>Order date: {{userOrders.at(0)?.date | date:'dd.MM.yyyy.'}}</p>
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th class="text-center py-3 px-4" style="min-width: 380px;">Product Name &amp; Details
                                </th>
                                <th class="text-right py-3 px-4" style="width: 120px;">Price</th>
                                <th class="text-center py-3 px-4" style="width: 100px;">Quantity</th>
                                <th class="text-right py-3 px-4" style="width: 120px;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let element of cartElements">
                                <td class="p-4">
                                    <div class="media align-items-center">
                                        <img [src]="'../../assets/' + element.item?.image"
                                            class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                        <div class="media-body">
                                            <a href="#" class="d-block text-dark">{{element.item?.name}}</a>
                                            <small>
                                                <span class="text-muted">OE number:
                                                    {{element.item?.oe_number}}</span>&nbsp;
                                                <span class="text-muted">Make: {{element.item?.carMake}}</span> &nbsp;
                                                <span class="text-muted">Model: {{element.item?.carModel}} </span>
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4">{{element.item?.price
                                    |number
                                    : '1.2'}} €</td>
                                <td class="align-middle p-4"><input type="text" [readonly]=true
                                        class="form-control text-center" value="{{element.quantity}}">
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4">{{element.item?.price! *
                                    element.quantity|number: '1.2'}} €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- / Shopping cart table -->

                <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                    <div class="mt-4">

                    </div>
                    <div class="d-flex">
                        <div class="text-right mt-4">
                            <label class="text-muted font-weight-normal m-0">Total price</label>
                            <div class="text-large"><strong>{{totalPrice |number: '1.2'}} €</strong></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>