<app-nav></app-nav>
<div class="container px-3 my-5 clearfix ae">
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div id="contentToConvert">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th class="text-center py-3 px-4" style="min-width: 380px;">Product Name &amp; Details
                                </th>
                                <th class="text-right py-3 px-4" style="width: 120px;">Price</th>
                                <th class="text-center py-3 px-4" style="width: 100px;">Quantity</th>
                                <th class="text-right py-3 px-4" style="width: 120px;">Total</th>
                                <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                                        class="shop-tooltip float-none text-light" title=""
                                        data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="itemsInCart.length !== 0">
                            <tr *ngFor="let cartItem of itemsInCart">
                                <td class="p-4">
                                    <div class="media align-items-center">
                                        <img [src]="'../../assets/' + cartItem.item?.image"
                                            class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                        <div class="media-body">
                                            <a href="#" class="d-block text-dark">{{cartItem.item?.name}}</a>
                                            <small>
                                                <span class="text-muted">OE number:
                                                    {{cartItem.item?.oe_number}}</span>&nbsp;
                                                <span class="text-muted">Make: {{cartItem.item?.carMake}}</span> &nbsp;
                                                <span class="text-muted">Model: {{cartItem.item?.carModel}} </span>
                                            </small>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4">{{cartItem.item?.price
                                    |number
                                    : '1.2'}} €</td>
                                <td class="align-middle p-4"><input type="text" [readonly]=true
                                        class="form-control text-center" value="{{cartItem.quantity}}">
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4">{{cartItem.item?.price! *
                                    cartItem.quantity|number: '1.2'}} €</td>
                                <td class="text-center align-middle px-0"><a
                                        class="shop-tooltip close float-none text-danger" title=""
                                        data-original-title="Remove" (click)="removeFromCart(cartItem)">×</a></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="itemsInCart.length === 0">
                            <tr>
                                <td class="p-4" colspan="5">
                                    <h3 style="text-align: center; width: 100%;">Your cart is empty!</h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                    <div class="mt-4">

                    </div>
                    <div class="d-flex">
                        <div class="text-right mt-4">
                            <label class="text-muted font-weight-normal m-0">Total price</label>
                            <div class="text-large"><strong>{{totalPrice |number: '1.2'}} €</strong></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="float-right">
                <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3" (click)="backToItems()">Back
                    to shopping</button>
                <button type="button" class="btn btn-lg btn-primary mt-2" (click)="checkout()">Checkout</button>
            </div>

        </div>
    </div>
</div>