<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PrecisionCarParts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="getClass('/')">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" [ngClass]="getClass('/products')">
        <a class="nav-link" [routerLink]="['/products']">Products</a>
      </li>
      <li class="nav-item" [ngClass]="getClass('/about')">
        <a class="nav-link" [routerLink]="['/about']">About us</a>
      </li>
      <li class="nav-item" [ngClass]="getClass('/login')">
        <a class="nav-link" [routerLink]="['/login']" *ngIf="!authenticated">Login</a>
      </li>
      <li class="nav-item dropdown" *ngIf="authenticated">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{{this.auth.getUser().name}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/cart']"><i class="fa fa-shopping-cart"></i> Cart</a>
          <a class="dropdown-item" [routerLink]="['/account']"><i class="fa fa-user" aria-hidden="true"></i> Account</a>
          <a class="dropdown-item" *ngIf="this.auth.getUser().admin" [routerLink]="['/managing']"><i class="fa fa-edit"
              aria-hidden="true"></i> Edit items</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="[]" (click)="logout()"><i class="fa fa-sign-out"
              aria-hidden="true"></i> Logout</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by part number" aria-label="Search"
        [(ngModel)]="broj" name="broj">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchByPartNumber()">Search</button>
    </form>
  </div>
</nav>



<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PrecisionCarParts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item" [ngClass]="getClass('/products')">
          <a class="nav-link" [routerLink]="['products']">Products</a>
        </li>
        <li class="nav-item" [ngClass]="getClass('/about')">
          <a class="nav-link" [routerLink]="['about']">About us</a>
        </li>
        <li class="nav-item" [ngClass]="getClass('/login')">
          <a class="nav-link"  *ngIf="!authenticated">Login</a>
        </li>
        <li class="nav-item" [ngClass]="getClass('/logout')">
          <a class="nav-link" *ngIf="authenticated">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
-->