<div class="main container-fluid">
    <h2 class="naslov">Search model specific parts</h2>
    <div class="row justify-content-left">
        <div class="col-2 poravnanje"><p>Make:</p></div>
        <div class="col-2">
            <div class="dropdown inline">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose make</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col-2 poravnanje"><p>Model:</p></div>
        <div class="col-2">
            <div class="dropdown inline">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose model</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col-2 poravnanje"><p>Category:</p></div>
        <div class="col-2">
            <div class="dropdown inline">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose category</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col-2"></div>
        <div class="col-2">
            <button type="button" class="btn-sm btn-danger">Remove filters</button>
        </div>
    </div>
    <div class="row justify-content-center product">
        <div class="col-2">
            <img src="../media/proba.jpeg" class="slikaproizvoda">
        </div>
        <div class="col-8">
            <h4 class="no-margin">Part name</h4>
            <p class="no-margin">Description:</p>
            <p class="no-margin">Brand:</p>
            <p class="no-margin">OE part number:</p>
        </div>
        <div class="col-1">
            <p>Price: €</p>
        </div>

    </div>

</div>

