.naslov {
  text-align: center;
}

.inline {
  display: inline-block;
}

.droplabel {
  padding-right: 10px;
}

.poravnanje {
  text-align: right;
}

.slikaproizvoda {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.top-margin {
  margin-top: 10px;
}

.product {
  margin: 10px 20px 0 20px;
  background-color: aqua;
}

.background {
  margin: 0;
  height: 25vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kolicina {
  display: inline-block;
  width: 30%;
  padding: 0;
}

.kv {
  display: inline-block;
  padding: 0;
  width: 30%;
}

.dodaj {
  display: flex;
  flex-direction: column;
}