.nosi-formu {
  display: flex;

}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  padding: 0 15px 0 15px;
}

.drugi {
  margin-top: 40px;
}

.row {
  margin: 0;
}

.product {
  width: 80%;
  margin: 10px 20px 0 20px;
  background-color: #f0f5fa;
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  border: 1px solid rgba(109, 119, 130, .37);
}

.background {
  margin: 0;
  height: 25vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.margina {
  margin-top: 20px;
  margin-bottom: 40px;
}