<div class="main container-xxl ">
    <div class="row bg-image background justify-content-around red">
        <div class="col-6"></div>
        <div class="col-6">
            <h2>Quality parts for worry-free journeys.</h2>
        </div>
    </div>
    <div class="row deals justify-content-md-center pozadina">
        <div class="col "><h4 class="centar">Deals of the Month</h4></div>
    </div>
    <div class="row pozadina">
        <div class="product-container ">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
        </div>
    </div>
</div>