<app-nav></app-nav>
<div class="main container-xxl ">
    <div class="row bg-image background justify-content-around red amo">
        <div class="lijevo"></div>
        <div class="desno">

        </div>
    </div>
    <div class="row deals justify-content-md-center pozadina">
        <div class="col ">
            <h4 class="centar">Deals of the Month</h4>
        </div>
    </div>
    <div class="row pozadina zadnji">
        <div class="product-container" *ngFor="let item of items.slice(0,5)">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img [src]="'../../assets/' + item?.image" class="product-thumb" alt="">
                    <button class="card-btn" (click)="onItem(item.itemID)">view item</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">{{item.brand | uppercase}} {{item.name}}</h2>
                    <p class="product-short-des pomak">{{item.description}}</p>
                    <span class="price pomak">{{item.price}} €</span><span class="actual-price"></span>
                </div>
            </div>
        </div>
    </div>
</div>