<app-nav></app-nav>
<div class="main container-fluid">
    <div class="row vrh">
        <h3 class="naslov">My Account</h3>
    </div>
    <div class="row">
        <div class="lijevo">
            <div class="account-user">
                <img src="../../assets/user.jpg" class="user-pic">
                <div class="about-user">
                    <p class="username">{{curUser?.username}}</p>
                    <small class="username">{{curUser?.email}}</small>
                </div>
            </div>
            <ul>
                <li><a [routerLink]="['/account']" class="fontic" [ngStyle]="vracaStyle()">ORDERS</a>
                </li>
                <li><a [routerLink]="['/account/details']" class="fontic" (mouseover)="this.hovered = true;"
                        (mouseout)="this.hovered = false;">PERSONAL DETAILS</a></li>
                <li *ngIf="curUser?.admin"><a [routerLink]="['/users']" class="fontic"
                        (mouseover)="this.hovered = true;" (mouseout)="this.hovered = false;">MANAGE USERS</a></li>
            </ul>
        </div>
        <div class="desno">
            <div class="narudzbe row donja-crta">
                <p class="narudzbaId">This is a list of your previous orders</p>
                <div class="nosiElemente">
                    <p class="narudzbaDatum">Order date:</p>
                    <p class="details">Details:</p>
                </div>
            </div>
            <hr>
            <div *ngFor="let order of userOrders" class="narudzbe row">
                <a [routerLink]="[order.orderId]" class="narudzbaId">{{order.orderId}}</a>
                <div class="nosiElemente">
                    <p class="narudzbaDatum">{{order.date | date:'dd.MM.yyyy.'}} at {{order.date |
                        date:'H:mm:ss'}}</p>
                    <button class="gumbNarudzba" (click)="naElement(order.orderId)">Details</button>
                </div>

            </div>
        </div>
    </div>

</div>